<h1>Isso é um TESTE<h1>

<p>
    Vamos testar? O idioma usado na aplicação é: <strong><%= locale(I18n.locale)%></strong>
</p>

<%= render "menu" %>

<p> 
    Teste realizado no dia: <%= Date.today %>
</p>

<%= render "rodape" %>



