<h1>Isso é um TESTE<h1>

<p>
    Vamos testar?
</p>

<p> 
    Teste realizado no dia: <%= date_br(Date.today) %>
</p>

<ul>
    <li>
        <a href="http://localhost:3000/coins">tabela</a>
    </li>
    <li>
        <%= link_to "tabela", coins_path %>
    </li>
</ul>